/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  @font-face {
    font-family: 'Lora';  /* The name you'll use in your CSS */
    src: url('fonts/Lora.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
}
body {
    font-family: 'Lora';
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: normal;
    word-spacing: normal;
}
header {
    font-family: 'Lora';
    letter-spacing: normal;
}

p:first-of-type {
    text-indent: 20px;  
}

header{
    font-size: 20px;
    text-align: center;
}

a{
    color:#a66
}

a.link {
    color:#a66
}
a.focus {
    color:rgb(139, 49, 0)
}
a:visited {
    color:rgb(255, 242, 129)
}
a:hover {
    color:rgb(0, 136, 255)
}