/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */

  @font-face {
    font-family: 'Lora'; /* Body font */
    src: url('fonts/Lora.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat'; /* Heading font */
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
}
body {
    font-family: 'Lora', serif;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: normal;
    word-spacing: normal;
}
header, footer {
    font-family: 'Lora', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

header h1 { 
  font-size: 30px;
}

h2 {
  font-family: 'Lora', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

p:first-of-type {
    text-indent: 20px;  
}

header{
    font-size: 20px;
    text-align: center;
}

a{
    color:#a66
    
}

a.active {
  border-radius: 5px;
  color: rgb(256, 49, 0)
}

a.link {
    color:#a66
}
a.focus {
  outline:none;
    color:rgb(139, 49, 0)
}
a:visited {
    color:rgb(255, 242, 129)
}
a:hover {
    color:rgb(0, 136, 255)
}

a.focus, a.hover {
  text-decoration: none;
}

a[href^="http"]:after{
  content:" ";
  display: inline;
  margin-left: 5px;
  font-size: 10px;
  background-image:url(./external-link-52.png);
  background-size: contain;
  color:#a67
}


/* List */
ul, ol {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 20px;
}

li { 
  line-height: 1.5;
  margin-bottom: 8px;
}

ul li, ol li {
  font-size: 1.5rem
}

